.App {
  text-align: center;
}


* , html{
  margin: 0;
  padding: 0;
}

body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(4,5,5,1)   100%);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#application {
  background-color: #1B1035;
  width: 300px;
  display:flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

#screen{
  display: flex;
  justify-content: flex-end;
  border: 1px solid white;
}

#display{
  color: white;
  padding:20px;
  
}
button{
  width: 50px;
  height: 50px;
  background: none;
  color: white;
}

.row{
  width: 100%;
  display: flex;
  justify-content: center ;
}

#clear{
  flex-grow: 7;
}

#one, #two, #three, #subtract, #four, #five, #six, #seven, #multiply, #eight, #nine, #divide, #decimal, #equals, #add{
  flex-grow: 1;
}

#zero{
  flex-grow: 4;
}